.headContainer{
    /* width: 20px; */
    display: flex;
    border: 2 solid black;
    justify-content: space-between;
    
}
.logo{
    width: 100px;
    height:100px;
}
.nav-items{
    padding: 10px;
}
.nav-items>ul{
    font-size: large;
    display: flex;
    list-style-type: none;
    /* margin: 50px;
    padding: 20px;  */
}
.nav-items>ul>li{

    margin: 10px;
    padding: 10px; 
}
.restro-bar{
    display: flex;
    flex-wrap: wrap;

}
.restro-card,.shimmer-card{
    background-color: rgb(241, 239, 239);
    width: 163px;
    height: 330px;
    margin: 5px;
    padding: 15px;
}
.restro-card>img.logo {
    width: 163px;
    height: 125px;

}
.restro-card:hover{
    border: 2px solid black;
    cursor: pointer;

}
.filter{
    margin: 5px;
}
.topRated-filter{
    margin: 2px;
    padding: 5px;
}
.shimmer-container{
    display: flex;
    justify-content: wrap;
}
.login-button{
    padding: 8px;
}
